<ActionBar title="Header Name" icon="" class="action-bar">
  <NavigationButton text="Back" (tap)="goBack()" android.systemIcon="ic_menu_back"></NavigationButton>
  <ActionItem ios.systemIcon="2" android.systemIcon="ic_menu_close_clear_cancel" ios.position="right"></ActionItem>
</ActionBar>
<StackLayout>
  <Label class="p-5" text="First Name" textWrap="true"></Label>
  <TextField class="p-5" hint="" text=""></TextField>
  <Label class="p-5" text="Last Name" textWrap="true"></Label>
  <TextField class="p-5" hint="" text=""></TextField>
  <Label class="p-5" text="Age" textWrap="true"></Label>
  <TextField class="p-5" hint="" text="" keyboardType="number" ></TextField>
  <Label class="p-5" text="Prefered day of the week" textWrap="true"></Label>
  <RadioGroup>
    <RadioButton text="Monday"></RadioButton>
    <RadioButton text="Wednesday"></RadioButton>
    <RadioButton text="Friday"></RadioButton>
  </RadioGroup>
  <StackLayout class="p-5">
    <CheckBox class="checkbox" #CB1 text="Agree to Terms" checked="false"></CheckBox>
  </StackLayout>
  <Button class="m-t-20" text="Submit" (tap)="onClick()" width="50%"></Button>
</StackLayout>